html{
    font-size:62.5%;
}
body{
    background-color:#363636;
    background:url(../images/background.jpg) center center no-repeat;
    background-size: cover;
    min-height:100vh;
}

h1,h2{
    text-transform: uppercase;
    font-size:4rem;
    color:#ffffff;
    padding: 2rem;
}

#mapid { 
    height: 450px; 
    width:50%;
    margin-left:2rem;
    border-radius:1rem;
    border:3px solid #515150;
}